.costumeSize {
  max-height: 400px;
  max-width: 100%;
}

#main-container:last-child {
  padding-bottom: 0.5rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

section {
  scroll-margin-top: 3rem;
}

.nav-link {
  color: var(--text-color)
}
.nav-link:hover {
  color: var(--bs-secondary-color)
}

.navbar select {
  cursor: pointer;
}

.navbar select:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .borderless {
    border-width: 0 !important;
  }
}

@media (max-width: 576px) {
  .navbar select {
    max-width: 16rem;
  }
}

@media (max-width: 490px) {
  .navbar select {
    max-width: 13rem;
  }
}

@media (max-width: 440px) {
  .navbar select {
    max-width: 11rem;
  }
}

@media (max-width: 405px) {
  .navbar select {
    max-width: 9rem;
  }
}